<!DOCTYPE html>
<html>
<body>

<h1>
    Nos crossposting service
</h1>

{{ if .account }}
    You are logged in as {{ .account.AccountID }}.


    <h2>Link public key</h2>
    <form action="/link-public-key" method="post">
        <input type="text" name="npub" placeholder="npub...">
        <input type="submit" value="Link public key" />
    </form>

{{ else }}
    <div>
        You aren't logged in.
    </div>
    <a href="/login">Login</a>
{{ end  }}
</body>
</html>